/* Screen style */
body { font-size: 68.75%; padding: 0; }

/* Image replacement for NUS Logo */
.ir { font-size: 1em; margin: 0; overflow: hidden; position: relative; }
.ir span { background-repeat: no-repeat; display: block; height: 100%; left: -5px; top: 1px; position: absolute;  width: 100%; z-index: 1; }
.ir a { cursor: pointer; display: block; height: 100%; width: 100%; }
a.ir span { cursor: pointer; }

/* Auto clearing floats */
#nav .flyout .inner:after, .orange-panel .top:after, .home-cols:after, #footer .inner:after, #bottom:after, .sortable-box .inner:after, .customize-box .welcome:after, .customize-box .inner:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Wrapper */
#wrapper { width: 951px; margin: 0 auto; }

/* Header */
#header { height: 53px;
position: relative;
z-index: 9999; }/* updated 08/01/2008 */
#header h1 { width: 360px; height: 67px; position: absolute; top: 12px; left: 20px; }
#header h1 span { background-image: url("/template/images/logo.jpg"); }
#header h1 .iss { background-image: url("/template/images/logo_iss.gif"); }
#header h1 .isas { background-image: url("/template/images/logo_isas.gif"); }
#header h1 .crisp { background-image: url("/template/images/logo_crisp.gif"); }


#searchform form {margin: 0; /* for IE */ font-size: 0.91em; position: absolute; top: 56px; left: 640px;}
#searchform .equal {vertical-align: middle; /* for IE */}
#searchform #txt {height: 14px;	padding-left: 5px;	background: white;	color: #808080; /* grey */	border: 1px solid #cccccc; /* brownish */}
#searchform #txt:focus { /* not working in IE6 */ color: black;	}
#searchform #butn {	background: none; }


/* Emergency Message */
ul.emergency {background:url("http://www.nus.edu.sg/images/emergency.gif") no-repeat; height: 36px;}
ul.emergency li { background:url("http://www.nus.edu.sg/images/emergency-text.gif") no-repeat 25px 8px; padding: 5px 0 0 33px; color:#FF0000;}
ul.emergency li a {color:#FF0000;}

/* Content */
#content { clear: both; }
.right {float: right;}

/* Standard Accordion - First Title */
#StandardAccordion { width: 290px; height: 380px; margin: 0 5px 0 6px; overflow: hidden; }
#StandardAccordion .inner { padding: 0 2px; height: 120px; overflow: hidden; }
#StandardAccordion .firstTitle h2 { height: 35px; color:#FFFFFF; overflow: hidden; position: relative; display: block; }
#StandardAccordion .firstTitle h2 a { cursor: pointer; display: block; height: 100%; width: 100%;  text-decoration:none; color:#FFFFFF;}
#StandardAccordion .firstTitle h2 a:hover {color:#547DC9;}
#StandardAccordion .firstTitle h2 span { height: 38px; background-image: url("/template/images/acFirstTitle.gif"); cursor: pointer; background-repeat: no-repeat; display: block; height: 100%; width: 100%;}
#StandardAccordion .firstTitle h2 span .title {font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; padding-left:28px; padding-top:3px; padding-bottom: 0px;}
#StandardAccordion .firstTitle .inner { padding: 8px 0 8px 0px; background: url("/template/images/news-1.gif") no-repeat; height: 90px;}
#StandardAccordion .firstTitle .innercontent h1 { font-size:13px; color:#19449b; padding-bottom:10px; font-family:Arial, Verdana, Helvetica; font-weight:bold; }
#StandardAccordion .firstTitle .innercontent h3 { color:#000; height: 20px;}
#StandardAccordion .firstTitle .innercontent {padding: 8px; line-height: 14px;}
#StandardAccordion .firstTitle .innercontent{ width: 270px; height: 90px;  overflow: auto; }
#StandardAccordion .firstTitle .inner { background: url("/template/images/news-1.gif") no-repeat; }
#StandardAccordion .firstTitle .inner ul { padding-left: 0; margin: 12px 0 8px 10px; width: 260px; height: 80px; overflow: auto; }
#StandardAccordion .firstTitle .inner li { padding-left: 8px; background: url("/template/images/plus2.gif") 0 5px no-repeat; line-height: 1.27; margin-bottom: 3px; }
#StandardAccordion .firstTitle .inner li.eventheader { padding-left: 0px; background: none; line-height: 1.27; margin-top: 10px; color: #0D2C7C; font-weight:bold;}
#StandardAccordion .firstTitle .inner ul a { color: #454b49; text-decoration: none; }
#StandardAccordion .firstTitle .inner ul a:hover { color: #000604; text-decoration: none; }
#StandardAccordion .firstTitle .inner ul a strong { font-weight:normal; }
#StandardAccordion .firstTitle .inner .view-all { height: 18px; padding: 5px 0 0 9px; background: #C5D4D0; margin: 0; font-size: 0.82em; text-transform: uppercase; }
#StandardAccordion .firstTitle .inner .view-all a { text-decoration: none; color: #243995; padding-left: 8px; background: url("/template/images/plus2.gif") left center no-repeat; }

/* Standard Accordion - Middle Title */
#StandardAccordion .middleTitle h2 { height: 37px; color:#FFFFFF; overflow: hidden; position: relative; display: block; }
#StandardAccordion .middleTitle h2 a { cursor: pointer; display: block; height: 100%; width: 100%;  text-decoration:none; color:#FFFFFF;}
#StandardAccordion .middleTitle h2 a:hover {color:#547DC9;}
#StandardAccordion .middleTitle h2 span { height: 38px; background-image: url("/template/images/acMiddleTitle.gif"); top:0; left:0; cursor: pointer; background-repeat: no-repeat; display: block; height: 100%; width: 100%;}
#StandardAccordion .middleTitle h2 span .title {font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; padding-left:28px; padding-top:3px;}
#StandardAccordion .middleTitle .inner { background: url("/template/images/news-1.gif") no-repeat; }
#StandardAccordion .middleTitle .inner ul { padding-left: 0; margin: 12px 0 8px 10px; width: 260px; height: 80px; overflow: auto; }
#StandardAccordion .middleTitle .inner li { padding-left: 8px; background: url("/template/images/plus2.gif") 0 5px no-repeat; line-height: 1.27; margin-bottom: 3px; }
#StandardAccordion .middleTitle .inner li.eventheader { padding-left: 0px; background: none; line-height: 1.27; margin-top: 10px; color: #0D2C7C; font-weight:bold;}
#StandardAccordion .middleTitle .inner ul a { color: #454b49; text-decoration: none; }
#StandardAccordion .middleTitle .inner ul a:hover { color: #000604; text-decoration: none; }
#StandardAccordion .middleTitle .inner ul a strong { font-weight:normal; }
#StandardAccordion .middleTitle .inner .view-all { height: 18px; padding: 5px 0 0 9px; background: #C5D4D0; margin: 0; font-size: 0.82em; text-transform: uppercase; }
#StandardAccordion .middleTitle .inner .view-all a { text-decoration: none; color: #243995; padding-left: 8px; background: url("/template/images/plus2.gif") left center no-repeat; }

/* Standard Accordion - Last Title */
#StandardAccordion .lastTitle h2 { height: 36px; color:#FFFFFF; overflow: hidden; position: relative; display: block; }
#StandardAccordion .lastTitle h2 a { cursor: pointer; display: block; height: 100%; width: 100%;  text-decoration:none; color:#FFFFFF;}
#StandardAccordion .lastTitle h2 a:hover {color:#547DC9;}
#StandardAccordion .lastTitle h2 span { height: 38px; background-image: url("/template/images/acLastTitle.gif"); cursor: pointer; background-repeat: no-repeat; display: block; height: 100%; width: 100%;}
#StandardAccordion .lastTitle h2 span .title {font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; padding-left:28px; padding-top:3px;}
#StandardAccordion .lastTitle .inner { background: url("/template/images/news-1.gif") no-repeat; }
#StandardAccordion .lastTitle .inner img { float: right; margin-left: 8px; }
#StandardAccordion .lastTitle .inner ul { padding-left: 0; margin: 12px 0 8px 10px; width: 260px; height: 77px; overflow: auto; }
#StandardAccordion .lastTitle .inner li { padding-left: 8px; background: url("/template/images/plus2.gif") 0 5px no-repeat; line-height: 1.27; margin-bottom: 3px;}
#StandardAccordion .lastTitle .inner ul a { color: #121917; text-decoration: none; }
#StandardAccordion .lastTitle .inner ul a:hover { color: #000604; text-decoration: none; }
#StandardAccordion .lastTitle .inner ul a strong { font-weight:normal; }
#StandardAccordion .lastTitle .inner .read-full { height: 18px; padding: 5px 0 0 9px; background: #C5D4D0 url("/template/images/read-full-story.gif") no-repeat; font-size: 0.82em; text-transform: uppercase; width: 290px; margin: 0 -2px; }
#StandardAccordion .lastTitle .inner .read-full a { text-decoration: none; color: #243995; padding-left: 8px; background: url("/template/images/plus2.gif") left center no-repeat; }

/* Oanger Nav */
#orange-nav { clear: both; height: 35px; margin: 0; width: 940px; padding-left: 5px; }
.orange-nav-static { margin-bottom: 10px !important; }
#orange-nav li { float: left; }
#orange-nav a { background: #999; color: #fff; display: block; height: 35px; line-height: 27px; margin: 0; overflow: hidden; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; width: 150px; }
#orange-nav a span { background-repeat: no-repeat; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; cursor: pointer; }
#orange-nav a:hover { background-color: #999; color: #fff; }
#orange-nav a#a-nav {
	width: 183px;
	margin-right: 5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	font-weight:bold;
}
#orange-nav a#a-nav:hover{ color:#ffe29e; }
#orange-nav a#a-nav span { background-image: url("/template/images/orange_panel.gif"); }
#orange-nav a#a-nav .panel-title {padding-bottom:15px;}

/* Expandable Home Boxes */
.expandable-box .inner {
	overflow: hidden;
}
.expandable-box h2 {
	line-height: 1.1;
	margin-bottom: 6px;
}
.expandable-box a {
	text-decoration: none;
	color: #5B5B5B;
}
.expandable-box a:hover {
	color: #000;
}
.expandable-box .tab {
	clear: both;
	margin: 10px 0 0 0;
	height: 16px;
}
.expandable-box .tab a {
	display: block;
	width: 106px;
	height: 12px;
	text-align: center;
}
.expandable-box .tab a span {
	background-image: url("/template/images/box2-toggle.gif");
}

/* theLinks */
.theLinks {
	background: url("/template/images/box2b.gif") repeat-y;
	margin: 0;
}
.theLinks .inner {
	background: url("/template/images/box2b-inner.jpg") no-repeat;
	padding: 12px 26px 0 30px;
	height: 155px;
}
.theLinks .tab {
	background: url("/template/images/box2b-tab.gif") no-repeat;
}
.theLinks .tab a {
	margin-left: 79px;
}
.theLinks .tab a span {
	background-image: url("/template/images/box2-toggle.gif");
}
.theLinks h2 {
	margin-bottom: 8px;
}
.theLinks p {
	margin: 0;
}
.theLinks ul {
	float: left;
	width: 200px;
	margin-top:0;
	border-bottom:1px;
}
.theLinks li {
	padding-left: 7px;
	margin-top: 5px;
	background: url("/template/images/plus.gif") 0 3px no-repeat;
	line-height: 1.1;
}
.theLinks a {
	color: #4D4D4D;
}

/* Home columns */
.home-cols { clear: both; margin: 5px 0 10px 1px; }
.home-cols .spotlight, .home-cols .middle2 { float: left; width: 180px; margin: 10px 2px 0 2px; }
.home-cols .middle1 { float: left; width: 260px; margin: 10px 2px 0 2px;}
.home-cols .right { float: right; width: 290px; margin: 10px 2px 0 2px;}

/* Footer */
#footer { clear: both; width: 950px; margin: 13px 0 5px 0; padding-top: 10px; background: url("/template/images/footer.jpg") no-repeat; color: #636363; font-size: 0.92em; }
#footer .inner { padding: 2px 21px 16px 24px; height: 30px; background: url("/template/images/footer.jpg") bottom no-repeat; }
#footer p { margin: 0; }
#footer a { color: #3F3F3F; text-decoration: none; }
#footer a:hover { color: #0c0c0c; text-decoration: none; }
#footer .left { float: left; width: 500px; }
#footer .left li { float: left; padding-left: 8px; margin-left: 6px; background: url("/template/images/sep2.gif") left center no-repeat; }
#footer .left li.first { margin: 0; padding: 0; background: none; }
#footer .left .tel { padding-left: 16px; background: url("/template/images/tel.gif") 0 20% no-repeat; }
#footer .left .email { padding-left: 16px; background: url("http://www.nus.edu.sg/images/email.gif") 0 40% no-repeat; }
#footer .right { float: right; width: 350px; text-align: right; color: #616161; }
#footer .right a { color: #464646; }
#footer .right a:hover { color: #131313; }
#footer .right .copy { color: #464646; }
#footer .right .copy a { padding:1px 5px 3px 5px; background: url("http://www.nus.edu.sg/images/copy.gif") left top no-repeat; }


/* Table */
.odd {background-color: #d8e1de; vertical-align:top;}
.even {background-color: #ffffff; vertical-align:top;}

/* preference popups */
.customize-box div.pop {position:relative; left:-22px; top:-128px; z-index:9999}
.customize-box div.pop div{ position: absolute; left: -1000em; text-align: left; width: 288px; padding: 10px; z-index: 9999; background: #fff; color: #666; font-size: 1em; text-transform: none; border: 1px solid #f0f0f0; }
.customize-box div.pop div.active{ position:absolute; left: 0; text-align: left; z-index: 9999; top:0; width:288px; }
.customize-box div.pop div p{ margin: 0 0 5px;}
.customize-box div.pop div fieldset{ border-bottom: 1px solid #eee; margin: 0 0 5px; }
.customize-box div.pop div fieldset label{ margin: 0 5px 0 0;}
.customize-box div.pop div fieldset input{vertical-align: middle; margin: 0 2px 0 0; padding: 0;}
.customize-box div.pop div fieldset.search { margin: 0 0 10px;}


/*main top header blue menu */

#pointermenu2{
margin: 0;
padding: 0;
}

#pointermenu2 ul{
margin: 0;
margin-left: 15px; /*menu offset from left edge of window*/
float:right;
position: relative; 
padding-left: 8px;
font: normal 11px Arial;
text-transform: uppercase;
background: #0e3a82 url(/template/images/leftround2.gif) bottom left no-repeat; /*optional left round corner*/
}

* html #pointermenu2 ul{ /*IE6 only rule. Decrease ul left margin and add 1em bottom margin*/
margin-bottom: 1em;
margin-left: 7px; /*menu offset from left edge of window in IE*/
}

#pointermenu2 ul li{
display: inline;
}


#pointermenu2 ul li a{
float: left;
color: white;
padding: 7px 9px 7px 5px;
text-decoration: none;
}

#pointermenu2 ul li a:visited{
color: white;
}


#pointermenu2 ul li a:hover, #pointermenu2 ul li a#selected{ /*hover and selected link*/
color: lightyellow;
text-decoration:underline;
}

#pointermenu2 ul li a#rightcorner{
padding-right: 0;
padding-left: 2px;
background:url(/template/images/rightround2.gif) bottom right no-repeat; /*optional right round corner*/
}


/* Top navigation */
#top-nav { color: #fff; 
width: 390px; 
height: 25px; 
padding: 4px 12px; 
position: absolute; 
top: 0; 
right: 0; 
background: url("/template/images/top-nav.gif") no-repeat; 
}
#top-nav a { color: #fff; font-weight: normal; font-size: 10px; background: transparent; text-decoration:none; }
#top-nav a:focus, 
#top-nav a:hover,
#top-nav a:active { text-decoration:underline; background-color: transparent;}
